# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# dependencies
node_modules

# build output
dist
dist-ssr
*.local

# typescript
*.tsbuildinfo

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files
.env

# Tauri
src-tauri/target
src-tauri/gen/schemas
